.title_color{
    color: #808080;
    font-size: 1rem;
}
.price_text{
    font-size: 2rem;
}
.display_flex{
    display: flex;
    justify-content: space-between;
}
.imageRatio{
    min-Height: 300px;
    max-width: 100%;
}